<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <omnibus_directive>
            <historical_prices>
                <active>1</active>
            </historical_prices>
            <validate_review>
                <active>1</active>
            </validate_review>
        </omnibus_directive>
    </default>
</config>
