<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Pricing\Price\Pool">
        <arguments>
            <argument name="prices" xsi:type="array">
                <item name="historical_price" xsi:type="string">Macopedia\OmnibusDirective\Pricing\Price\HistoricalPrice</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Review\Model\Review">
        <plugin name="macopedia_omnibusdirective_review_validate_product_was_ordered" type="Macopedia\OmnibusDirective\Plugin\Review\AfterValidate" sortOrder="1" disabled="false" />
    </type>
</config>
